apiVersion: v1
kind: Service
metadata:
  name: {{ template "apache-nifi.fullname" . }}
  labels:
    app: {{ template "apache-nifi.name" . }}
    chart: {{ template "apache-nifi.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.properties.httpPort }}
      name: http
    - port: {{ .Values.properties.clusterPort }}
      name: cluster
  selector:
    app: {{ template "apache-nifi.name" . }}
    release: {{ .Release.Name }}
